<app-subheader subtitle="Courses including the subject {{currentSubjectCode}}"></app-subheader>

<div class="results">
  <table mat-table [dataSource]="courses" multiTemplateDataRows matSort (matSortChange)="sortData($event)" class="mat-elevation-z8">
    <!-- startOn Column-->
    <ng-container matColumnDef="startOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Start On</th>
      <td mat-cell *matCellDef="let element">{{element.startOn | date: 'mediumDate'}}</td>
    </ng-container>

    <!-- endOn Column -->
    <ng-container matColumnDef="endOn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ends On</th>
      <td mat-cell *matCellDef="let element"> {{element.endOn | date: 'mediumDate'}} </td>
    </ng-container>

    <!-- exactDate Column -->
    <ng-container matColumnDef="exactDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Exact Date</th>
      <td mat-cell *matCellDef="let element"> {{element.exactDate | date: 'mediumDate'}} </td>
    </ng-container>

    <!-- isHoliday Column -->
    <ng-container matColumnDef="isHoliday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Holiday?</th>
      <td mat-cell *matCellDef="let element"> {{element.isHoliday | yesNo}} </td>
    </ng-container>

    <!-- weekday Column -->
    <ng-container matColumnDef="weekday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weekday</th>
      <td mat-cell *matCellDef="let element"> {{element.weekday}} </td>
    </ng-container>

    <!-- room Column -->
    <ng-container matColumnDef="room">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Room</th>
      <td mat-cell *matCellDef="let element"> {{element.room}} </td>
    </ng-container>

    <!-- campus Column -->
    <ng-container matColumnDef="campus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Campus</th>
      <td mat-cell *matCellDef="let element"> {{element.campus}} </td>
    </ng-container>

    <!-- Expanded Content Column - Contains all enrollment details -->
    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
        <div class="enrollment-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
          <app-enrollments [enrollments]="element.enrollments"></app-enrollments>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="enrollment-element-row"
      [class.enrollment-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="enrollment-detail-row"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</div>